body{
    background-image: url(../imgs//photo-1540979388789-6cee28a1cdc9.jfif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 80vh;
}


.content {
    text-align: center;
}

.content h1 {
    margin-top: 150px;
    font-size: 80px;
    font-family: Impact;
}

.content button {
    width: 250px;
    height: 80px;
    background-color: green;
    color: white;
}

.content p{
    font-size: 35px;
}

button:hover{
    background-color: rgb(255, 0, 0);
    transition: 2s all;
}

span{
    font-size: 30px;
}